@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
img{
  width:230px;
  height: 50px;
  left:0;
}
.but{
  margin-top:150px;
  text-align: center;
  font-size:55px;
  font-weight: bolder;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  height:60px;
  width: 100%;
  padding: 20px;
  background: #062374;
  transition: all 0.3s ease;
}
nav .nav-content{
  height: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-content .nav-links{
  display: flex;
}
.nav-content .nav-links li{
  list-style: none;
  margin: 0 8px;
}
 .nav-links li a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 4px;
  color:white;
}
 .nav-links li a:hover{
   color: #b6e5f8;
 }
.flex-box{
  margin-top:20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}
.card{
   background: #FFF;
   width: 250px;
   margin: 20px;
   box-shadow: 0px 0px 20px rgba(0,0,0,0.05);
   box-sizing: border-box;
   padding: 20px;
   border-radius: 5px;
}
p{
  text-align: center;
}
.img{
   height: 200px;
   width: 100%;
   background: url('https://images.pexels.com/photos/2469122/pexels-photo-2469122.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
   border-radius: 5px;
   background-size: cover;
}
a{
   padding: 10px;
   width: 100%;
   display: block;
   text-align: center;
   background: #062374;
   box-sizing: border-box;
   border-radius: 4px;
   color: white;
   text-decoration: none;
   font-size: 15px;
}